aniso8601==4.1.0
attrs==18.1.0
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pycurl==7.43.0
pygobject==3.20.0
pyignite==0.3.4
python-apt==1.1.0b1+ubuntu0.16.4.2
pytz==2018.9
six==1.12.0
unattended-upgrades==0.1
Werkzeug==0.14.1
python-dotenv==0.10.1
